
.Upload{
  margin-left: 40px;
}
.stikle{
 text-align: center;
 padding-top: 50px;
 font-style: normal;
    font-weight: 700;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    color: white;

}
.container{
    background-image: url("../../asset/Images/images.jpg");
    background: no-repeat;
    background-size: cover;
}
.elise{
    width: 30%;
    height: 20rem;
    object-fit: cover;
    background-position: center;
    margin-top: 10%;
    margin-left: 30%;
}
.our{
    margin-left: 2rem;
}
.photo-container{
        width: 18rem;
        display:flex;
        gap:1.5rem;
  margin-right: auto;
}
.therapy{
    float: right;
    width: 180px;
}

.images{
    background-image:  linear-gradient(rgba(24, 21, 21, 0.418), rgba(40, 44, 59, 0.7)),url("../../asset/Images/AdobeStock.jpeg");
    background-position: center;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: 120%;
    width: 100%;
    height: 30rem;
}
.ght{
    background-color: rgba(128, 128, 128, 0.13);
}

.img{
    background-image: linear-gradient(rgba(22, 20, 20, 0.418), rgba(12, 15, 31, 0.7)),
    url("../../asset/Images/TM.png");
    background-position: center;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: 100%;
    width:100%;
    height: 40rem
}
/*  */
h3{
    /* position:relative;
    display:block; */
    font-size: 20px;
    border: 20px;
    color:rgb(2, 12, 68);
    margin: 0 auto;
    
    
}
.button{
  margin-left: 50px;
  float: left;
  border: radius 1px;
  margin: 0 auto;
}
.radio{
    float:center;
    margin: 0 auto;
    
}
.carousel-img{
    width: 90%;
    color:white;
    text-align: center;  
    padding-top: 40px; 
    padding-top: 50px;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
}
.thrapi{
  color:black;
  margin-top:60px;
  font-style: normal;
    font-weight: 700;
    font-size: 35px;

}
.ther{
    width: 50px; 
    height: 60rem; 
    gap:2rem;
    display:flex;
}

.link-green:link,
.link-green:visited{
    color: green;
}
.link-green:hover,
.link-green:active{
color: white;
}
.btn-link:link,
.btn-link:visited{
    background: green;
    padding: 1.2rem 3.2rem;
    box-shadow: 0px 10px 10px black;
    border-radius: 0.2rem;
}
.btn-link:link,
.btn-link:active{
    color: white;
    background-color: green;
}
 .carouselImg img{
    height: 20%;
    width:10%;
    margin-top: 20px;
    object-fit: cover;
    background-repeat: no-repeat;
}
.Success{
    width: 6%;
    height: 5%;
    margin-left: 20%;
    border-radius: 100%;

}
.d-block w-100{
    object-fit: cover;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}
.anyone{
    width: 40%;
    height: 30%;
    margin-left: 30.5%;
    object-fit:cover
}

.allworld{
    font-size: 10px;
    display: inline-block;
    padding: 1rem;
    margin-bottom: 1%;
    margin-left:2rem

}
.btn button{
    background: green;
}

/* request therapy */

.request{
    background-image: url("../../asset/Images/login4.jpg");
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100vh;
}
input{
    color: gray;
}
/* getstartedform */
.getstart{
    background-image: url("../../asset/Images/better1.jpg");
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 80vh;
}
.corousel-img{
    width:28%;
    margin: 0 auto;
    height: 20%;
    object-fit: cover;
}
.button-read{
    padding: 1rem;
    gap: 2.5rem;
    display: inline-flex;
    margin-left: 40%;
}
.button-read:hover Button{
    transition: 0.5s;
    color: green;
}
.gug:hover{
    transition: 0.5s;
    color: green;
}
.image-carousel img{
    width: 30rem;
    display: inline-block;
}
Card .cardgrid{
    background-color: rgb(236, 175, 32);

}

.requesto{
    background-image: url("../../asset/Images/login4.jpg");
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100vh
}
.Navbar {
    background: linear-gradient(90deg, rgb(11, 11, 95) 0%, rgb(22, 22, 80));
    height: 80px;
    display: flex;
    font-size: 1.5rem;
    padding:0 2rem;
    justify-content: center;
    margin-left: 0px;
  }
  .nav_links{
    left: 12rem;
    border-radius: 40px;
    top:5px;
    color:white
  }
  .nav_links:hover{
  background: green;
  }
  .fa-firstdraft {
    margin-left: 0.5rem;
    font-size: 1.6rem;
  }
  
  
  .navbar-logo img{
    width: 100px;
    height: 4rem;
  }
  *,*::after,*::before{
    margin: 0;
    box-sizing: border-box;
  }
  html{
    font-size: 62.5%;
  
  }
  body{
    font-size: 1.6rem;
  }
  li{
    list-style: none;
  }
  a{
    text-decoration: none;
    color: darkgray;
  }
  .nav{
    display:flex;
    align-items: center;
    justify-content: space-around;
    height:8vh;
    background: rgb(11, 11, 112);  
  }
  .nav_brand{
    text-transform: uppercase;
    font-weight: bold;
  }
  .nav__menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1.5rem;
    margin-left: 100px;
  }
  .nav__toggler div{
    width: 2.5rem;
    height: 0.2rem;
    margin: 0.4rem;
    background: darkgray;
    transition: 0.4s ease-in;
  }
  .nav__toggler{
    cursor: pointer;
    display: none;
  }
  @media screen and (max-width:768px) {
    .nav__toggler{
      display: block;
    }
    .button{
      margin-left: 1px;
    }  
    .nav__menu{
      position: fixed;
      top: 7vh;
      right: 0;
      width: 50%;
      height: 93vh;
      background: rgb(11, 11, 112);
      flex-direction: column;
      transform: translateX(100%);
      transition: 0.5 ease-in;
    }
    
  }
  /* nav Actove class*/
  .nav__active{
    transform: translateX(0);
  }
  /*Toggle Icon Animation */
  .Toggle .line1{
    transform: rotate(45deg) translate(-4px,-5px);
  }
  .Toggle .line2{
    opacity: 0;
  }
  .Toggle .line3{
    transform: rotate(45deg) translate(-4px,-5px);
  }
  .nav_link{
    color: aliceblue;
  }
  .nav_link:hover{
    color: yellow;
  }
  .nav_links:hover{
    color: yellow;
  }
  .img{
    width: 100%;
  }
.carousel-img{
  margin-left: 8rem;

  }
  .ighr{
    margin-top:1px;
    margin-left:32rem;
    display:flex;
    text-align:center
  }
  .ther{
 max-inline-size: 100%;
 block-size: auto;

  object-fit: contain;
  }
