*{
    margin: 0%;
    padding: 0%;
}
.logo-img{
    width: 90px;
    font-size: 10px;
    object-fit: cover;
    /* border-radius: 1rem; */
    height: 4rem;
    margin-left: 2rem;
    margin-top: 0.5rem;
}
.nav-links{
    display: flex;
    gap: 1.5rem;
    list-style-type:none;
    float: right;
    padding: 30px;
}
.nav-link:link,.nav-link:visited{
    text-decoration: none;
}
.nav-link{
    color: white;
}
.nav-link:hover{
    color: rgba(255, 255, 0, 0.829);
}
.nav{
    background: rgb(14, 14, 82);
}
.container{
    background-image: url("../../asset/images.jpg");
    background: no-repeat;
    background-size: cover;
}
