*{
padding:0px;
margin:0px;
box-sizing: border-box;
}
html{
    font-size:62.5%
}
body{
    font-family: "Roboto",sans-serif;
}
.bodygetstart{
    background: linear-gradient(rgba(24, 21, 21, 0.418), rgba(16, 18, 27, 0.7)), url("../asset/getstarted-bg2.webp");
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
}
.bodygetstart1{
    background-image: linear-gradient(rgba(24, 21, 21, 0.418), rgba(16, 18, 27, 0.7)), url("../asset/getstarted-bg.jpg");
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
}
.input{
    width:10px;
    display: block;
    gap: 20px;
    margin-top:10rem;
}
.form{
    width:3rem;
    height: 25rem;
    padding-top: 3rem;
    background-position: center;

}
.label{
    /* margin-left:30%; */
    font-size:17px;
}
.inputB{
    background-color: #06062bf7;
    padding:8px;
    border-radius: 10rem;
    width:34rem;
    margin-top: 5px;
    margin-left: 70rem;
    text-align: center;
    cursor: pointer;
}
.image1{
    height: 60%;
    width:30%;
    
}
.image{
    padding-top: 2rem;
    display: flex;
    grid-template-columns:30% 30% 30%;
    margin-top:5rem;
    margin-left: 17%;
}
.container{
    height: 80vh;
}
.disya{

        text-align: center;
       border-top-left-radius: 80% 80%;
        padding: 2rem;
       border-top-right-radius: 60% 60%;
        border-top-color: #06062bf7;
        background-color: #10103bf7

}