*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: "Roboto",sans-serif;
}
.footer-container{
    background: rgb(14, 14, 82);
    padding: 8rem;
    display: grid;
    grid-template-columns: 25% 20% 20% 20% 15%;
    color: white;
}
p span{
    display: block;
}
.footer-title{
    color:  white;
    /* font-size: 2.4rem; */
}
.icons{
    display: flex;
    gap: 2rem;
    padding-top: 2rem 0;
    color: #ddd;
    /* font-size: 2rem; */
}
.copyright
.contactus-column{
    color: white;
    font-size: 1.5rem;
}
.footer-container a:link,
.footer-container a:visited{
    color: white;
    /* font-size: 1.6rem; */
}
.footer-container a:hover,
.footer-container a:active{
    color: #ccc;
}