*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;

}
.footer-content{
     padding: 0 4rem;
    display: grid;
    background: rgb(22, 22, 80);
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;

}
.logo-column{
    margin-left: 8px;
    padding-top: 10px;
}
p span{
    display: block;
}
.footer-title{
    font-size: 2.4rem;
    color: white;
}
.acount-columns{
    font-size: 15px;
    color: white;
    margin-left: 55px;
}
.acount-columne{
    font-size: 15px;
    color: white;
    margin-left: 30px;
}
.acount-columnu{
    font-size: 15px;
    color: white;
    margin-left: 80px;
}
.acount-columni{
    font-size: 15px;
    color: white;
    margin-left: 30px;
}
.footer-title:hover{
    transition: 0.3s;
    color: yellow;
}
.icons{
    display: flex;
    gap: 2rem;
    padding: 2rem 0;
    color: white;
    font-size: 2rem;
}
.copyright, .contctus-column{
    color: white;
    font-size:1.8rem ;
}
.home-container a:hover,
.home-container a:active{
    color: white;
}
.acount-column{
    color:white;
}
.logo-img{
        width: 100px;
        height: 5rem;
        margin-left: 10px;

}

